<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>NO</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Permission to access calendar for synching with Apple Calendar app. </string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
